@import '../../styles/variable';

.footer {
    background-color: $cream;
    h1, h3 {
        margin-bottom: 30px;
    }
    h3 {
        font-family: $bodyFont;
        font-weight: 500;
        font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    }
}
.footerWrapper {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        padding: 100px 0 50px;
    }
}
.footerContent {
    margin-bottom: 35px;
    p {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
}
.footerContentLinks {
    @extend .footerContent;
    p {
        cursor: pointer;
        &:hover {
            color: $red;
        }
    }
}
.footerLogoIcon {
    @include logoIcon($color: $black);
    margin-right: 15px;
}
.footerLogoName {
    @include logoName(2rem, 2.25rem, $black);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.socialLinks {
    a, a:visited, a:hover, a:active {
        color: $red;
    }
    a:not(:last-of-type) {
        margin-right: 33px;
    }
}
.footerCredit {
    background-color: $red;
    text-align: center;
    color: $white;
    padding: 15px 0;
    a {
        color: $white;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
}