@import '../../styles/variable';

.cta {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/cake-cta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    background-attachment: fixed;
    position: relative;
    .whiteOverlay {
        width: 100%;
        height: 100%;
        background-color: $white;
        opacity: 45%;
        position: absolute;
    }
    @media screen and (min-width: $laptop) {
        background-position: center 45%;
    }
}
.ctaWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    h2 {
        width: 100%;
        max-width: 584px;
        margin: auto;
        font-size: clamp(1.8rem, 2.5vw, 2.5rem);
        font-weight: 500;
        text-align: center;
    }
}
.ctaForm {
    width: 80%;
    margin: 30px auto;
    input {
        width: 100%;
        height: 40px;
        max-width: 450px;
        border: none;
        background-color: $white;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        height: 40px;
        color: $white;
        font-size: clamp(0.85rem, 2.5vw, 1.1rem);
        font-weight: 600;
        background-color: $red;
        border: none;
        padding: 0 20px;
    }
    @media screen and (min-width: $tablet) {
        width: 40rem;
        input {
            height: 50px;
        }
        button {
            width: 150px;
            height: 50px;
        }
    }
}