/* Fonts */
$headingFont: 'Playfair Display', serif;
$bodyFont: 'Inter', sans-serif;

/* Colors */
$red: #BA4D4A;
$cream: #FEFAF8;
$dark-gray: #797979;
$light-gray: #EAE8E7;
$white: #FFFFFF;
$black: #000000;
$text-gray: #6A6A6A;
$lines-color: #D6D6D6;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 100%);

/* Devices */
$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptopL: '1440px';
$desktop: '2560px';

@mixin logoIcon($w: 36px, $h: 36px, $color) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $w;
    height: $h;
    border: 1px solid $color;
    border-radius: 100vmax;
    margin-right: 7px;
    i {
        color: $color;
        font-size: 18px;
    }
}

@mixin logoName($s, $l, $color) {
    font-size: clamp($s, 2.5vw, $l);
    color: $color;
}

@mixin buttons ($bgColor) {
    color: $white;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    background-color: $bgColor;
    border: 0;
    padding: 10px 8px;
    @if $bgColor == $red {
        color: $white
    } @else {
        color: $black;
    }
}