@import '../../styles/variable';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $white;
}

.navWrapper {
    width: 100%;
    max-width: 1500px;
    padding: 12px;
    margin: auto;
    @media screen and (min-width: $laptop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }
}

.rightLinks {
    display: none;
    @media screen and (min-width: $laptop) {
        display: flex;
        gap: 27px;
        font-size: clamp(0.8rem, 2.5vw, 1rem);
    }
}
.logoWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navLogo {
    @include logoIcon($color: $red);
}
.navLogoName {
    @include logoName(1.3rem, 1.875rem, $red);
}

.leftLinks {
    @extend .rightLinks;
    :is(:nth-child(2)) {
        font-weight: 600;
    }
}
.cart {
    position: relative;
}
.cartCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    width: 25px;
    height: 25px;
    background-color: $red;
    border-radius: 100vmax;
    position: absolute;
    left: 20px;
    bottom: 12px;
}