@import '../../styles/variable';

.cakesMenu {
    width: 100%;
    margin: auto;
}
.cakesWrapper {
    width: 100%;
    max-width: 1500px;
    padding: 12px;
    margin: 80px auto;
    text-align: center;
    position: relative;
    h2 {
        font-size: clamp(2.2rem, 2.5vw, 2.5rem);
    }
    @media screen and (min-width: $laptop) {
        padding: 10px 50px;
    }
}
.cakeCategory {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px auto;
    padding-bottom: 20px;
    span {
        font-size: clamp(0.85rem, 2.5vw, 1.25rem);
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 3px solid transparent;
    }
    @media screen and (min-width: $laptop) {
        gap: 51px;
        margin: 40px auto;
    }
}
span.activeCategory {
    color: $red;
    font-weight: 800;
    border-bottom: 3px solid $red;
    transition: 0.2s ease-in;
    z-index: 1;
}
.dividerLine {
    width: 100%;
    height: 1px;
    background-color: $lines-color;
    position: relative;
    bottom: 51px;
    @media screen and (min-width: $laptop) {
        bottom: 61px;
    }
}
.cardLink {
    text-decoration: none;
}
.cakeImage {
    width: 100%;
    max-width: 460px;
}
.cakeDetails {
    padding: 10px 0 0;
    p {
        color: $black;
        text-align: left;
        padding-top: 5px;
    }
}
.cakeName {
    text-transform: uppercase;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.cakePrice {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
    font-weight: 600;
}

/* Cake Details */ 
.cakeDetailsPage {
    width: 100%;
    max-width: 1500px;
    margin: 100px auto 0;
    padding: 20px;
    h2 {
        color: $red;
        font-size: clamp(1.5rem, 2.5vw, 2.25rem);
        font-weight: 500;
        margin-bottom: 10px;
    }
    h3 {
        font-family: $bodyFont;
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        font-weight: 500;
        padding: 25px 0 15px;
        border-bottom: 1px solid $lines-color
    }
    p {
        font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        font-weight: 500;
    }
    ul {
        padding-top: 15px;
        li {
            color: $text-gray;
            font-size: clamp(0.9rem, 2.5vw, 1.125rem);
            margin-bottom: 8px;
        }
    }
    .goBackBtn {
        @include buttons($red);
        width: 100px;
        font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    }
    @media screen and (min-width: $tablet) {
        h3 {
            padding: 40px 0 25px;
        }
        ul {
            padding-top: 25px;
        }
    }
}
.cakeDetailed {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 60px auto 0;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        gap: 30px;
    }
}
.cakeDetailsImage {
    width: 100%;
    max-width: 500px;
    padding: 25px 0 10px;
    img {
        width: 100%;
        border-radius: 8px;
        object-fit: contain;
    }
    @media screen and (min-width: $tablet) {
        padding: 0 0 20px;
    }
}
.cakeImageReferences {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        object-fit: contain;
    }
}
.quantityCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
    span {
        font-weight: 500;
    }
}
.quantity {
    background-color: $light-gray;
    padding: 10px 2px;
    i {
        padding: 0 10px;
    }
    span {
        background-color: $white;
        padding: 8px 30px;
    }
}
.addToCart {
    width: 130px;
    margin-right: 15px;
    @include buttons($light-gray);
}
.buyNow {
    width: 130px;
    @include buttons($red);
}
/* Cake Slide */
.cakesSlide {
    width: 100%; 
    max-width: 1500px;
    padding: 0 20px; 
    margin: 100px auto;
    h3 {
        font-size: clamp(1.7rem, 2.5vw, 2.5rem);
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid $lines-color;
    }
    @media screen and (min-width: $tablet) {
        padding: 0 50px;
        margin: 200px auto;
    }
}
.slideWrapper {
    margin: auto; 
    text-align: center; 
    padding: 50px 0 0;
    position: relative;
    :global(.swiper-pagination-bullet-active) {
        color: $white;
        font-weight: 500;
        background-color: $red !important;
    }
    :global(.swiper-pagination) {
        position: relative;
        bottom: 0 !important;
        margin: 30px auto 0;
    }
    :global(.swiper-pagination-bullet) {
        width: 8px;
        height: 8px;
    }
    @media screen and (min-width: $tablet) {
        :global(.swiper-pagination) {
            margin: 50px auto 0;
        }
    }
}
